{% extends 'AcmeHelloBundle::layout.html.twig' %}

{% set active = 'home' %}

 {% block body %}
    <h1>Salve Utente, benvenuto nella pagina di prova <b>Symfony 2</b>!</h1>
     <br>
     Scegli uno dei link qui sopra per continuare!
Proviamo a mandare in conflitto git
     <br>
     Pagine di esempio con paremetri
     <br><br>
     <a href="{{ path('page', {'richiesta': 1}) }}" class="btn btn-primary btn-large">Passaggio 1 &raquo;</a> &nbsp; &nbsp;      
     <a href="{{ path('page', {'richiesta': 2}) }}" class="btn btn-primary btn-large">Passaggio 2 &raquo;</a> 
 {% endblock %}
     
     